<nav class="navbar py-0 navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/img/logo.png" alt="Rick And Morty" style="width: 125px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             routerLink="/"
             routerLinkActive="active">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             routerLink="/3"
             routerLinkActive="active">Episodes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "
             aria-current="page"
             routerLink="/4"
             routerLinkActive="active">Locations</a>
        </li> -->
      </ul>
      <div>
        <form class="d-flex"
              *ngIf="show"
              (ngSubmit)="search()"
              autocomplete="off">
          <input type="text"
                 name="nameCharacter"
                 [(ngModel)]="nameCharacter"
                 aria-label="Search"
                 class="form-control me-2"
                 placeholder="Search Character"
          >
          <!-- (input)="keyPress()" -->
        </form>

        <!-- <ul class="list-group debouncer">
          <li class="list-group-item list-group-item-action"
              *ngFor="let character of charactersSugeridos">
              {{ character.name }}
          </li>
        </ul> -->

      </div>
    </div>
  </div>
</nav>
