<app-header [show]="show"
            (onEnter)="search($event)">
</app-header>

<div class="container">
  <h1 class="col-12 text-center">Rick And Morty App</h1>

  <div *ngIf="error" class="col-6 alert alert-danger mt-4 mx-auto text-center">
    No se encontro ningun personaje llamado {{ nameCharacter }}
  </div>

  <div class="row mt-4" *ngIf="!error">
    <div class="col-12 controls">
      <button class="btn btn-primary" (click)="prevPage()" [disabled]="prev === null">Prev</button>
      <button class="btn btn-primary" (click)="nextPage()" [disabled]="next === null">Next</button>
    </div>

    <div class="col-12 mt-5 d-flex justify-content-center" *ngIf="loadData">
      <img src="./assets/img/spinning-circles.svg" alt="loading">
    </div>

    <div class="col-12 my-4 characters" *ngIf="!loadData">
      <app-character [character]="character"
                     *ngFor="let character of characters">
      </app-character>
    </div>
  </div>
</div>
