.characters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.controls {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.controls button {
  width: 80px;
  color: #fff;
  font-weight: 500;
}
